.container-fluid
  margin-top: 20px;
.logo
  font-family: 'Exo', sans-serif;
.toolbar 
  span
    display: inline-block;
    margin-left: 5px;
  span#run
    height: 30px;
    margin-bottom: 10px;
    vertical-align: top;
.editor-section
  height: 400px;
  #editor
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
#results
  height: 400px;
  overflow: scroll;
  pre
    background-color: #ffdc73
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
.footer
  div
    padding-top: 5px;
    text-align: center;
    font-size: smaller;
    color: #777;
