.container-fluid {
  margin-top: 20px;
}
.toolbar span {
  display: inline-block;
  margin-left: 5px;
}
.toolbar span#run {
  height: 30px;
  margin-bottom: 10px;
  vertical-align: top;
}
.editor-section {
  height: 400px;
}
.editor-section #editor {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
#results {
  height: 400px;
  overflow: scroll;
}
#results pre {
  background-color: #ffdc73;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
