extends ../layout
block content
  .container-fluid
    .row-fluid
      .span2.logo $_CloudTerm
      .span8.toolbar
        form#execform(action="sessions/#{session_id}/exec")
          span.language
            select(name='language')
              option(value='ruby') Ruby
              option(value='python') Python
              option(value='node') Javascript
          span.problem
            select(name='problem')
              option(value='custom') Choose a problem
              option(value='beers') 99 Bottles of beer
              option(value='twelve') Twelve Statements
          span#run
            a.btn.btn-success Run
              i.icon-play.icon-white 
    .row-fluid.editor-row
      .span6.editor-section
        #editor(data-session-id="#{session_id}")
      .span6#results
    .row-fluid.footer
      .span12 
        | Share the URL to pair with another person.
        | Built at 
        a(href="http://in50hrs.com",target="_blank") in50hrs Chennai 
        | edition.
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/ace/ace.js")
  script(src="/javascripts/ace/mode-ruby.js")
  script(src="/javascripts/ace/mode-python.js")
  script(src="/javascripts/ace/mode-javascript.js")
  script(src="/javascripts/ace/theme-idle_fingers.js")
  script(src="/channel/bcsocket.js")
  script(src="/share/share.uncompressed.js")
  script(src="/share/ace.js")
